
.settings/

ConsomiTounsi-ear/target/m2e-wtp/ear-resources/META-INF/

ConsomiTounsi-ejb/target/classes/META-INF/

*.class

ConsomiTounsi-ejb/target/test-classes/

*.properties

ConsomiTounsi-ejb/src/main/java/tn/esprit/consomitounsi/services/impl/EmailKey.java

ConsomiTounsi-ejb/src/main/java/tn/esprit/consomitounsi/entities/EmailKey.java
