
.settings/

ConsomiTounsi-ear/target/m2e-wtp/ear-resources/META-INF/

ConsomiTounsi-ejb/target/classes/META-INF/

*.class

ConsomiTounsi-web/target/m2e-wtp/web-resources/META-INF/maven/tn.esprit/ConsomiTounsi-web/pom.properties

ConsomiTounsi-web/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
